.friendCard {
    display: inline-block;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 90px;
    margin-right: 12px;
}

.friendCard:last-child {
    margin-right: 0;
}